<app-nav-bar>
</app-nav-bar>

<!-- <div id="">
    <img src="../../assets//img/image1.jpg"/>
</div>
<h1>Helllo</h1> -->
<ion-content>
  <div id="container">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">

      <ion-fab-button>
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <ion-fab-button>
    <ion-icon name="images"></ion-icon>
    <ion-label>Photos</ion-label>
  </ion-fab-button>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>



